@import "tailwindcss";

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* Custom font classes */
.font-zen-antique {
  font-family: 'Zen Antique', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}